.card {
  background-color: cornsilk;
  margin: 20px;
  display: inline-block;
  text-align: center;
  border-radius: 33px;
  max-width: 250px;

  transition: transform 300ms ease-in-out box-shadow 300ms ease-in-out;
}
.card img {
  width: 75%;
  margin: 0 auto;
  object-fit: cover;
}

.card:hover {
  cursor: pointer;
  transform: scale(1.1);
  box-shadow: 1px 1px 1px rgb(180, 172, 141);
}
